.customers {
    min-height: 591px;
    padding: 108px 0 101px 0;
    &__header {
        color: #212121;
        font-family: 'Raleway';
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            width: 64px;
            height: 2px;
            background: #ff8b3a;
        }
    }
    &__subtitle {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-top: 30px;
    }
    &__items {
        margin-top: 55px;
        @include flex();
    }
    &__content {
        position: relative;
    }
    &__descr {
        position: absolute;
        top: 24px;
        left: 12px;
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
    }
    &__photo {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background: #9a9a9a;
    }
    &__name {
        display: inline-block;
        transform: translate(15px, -15px);
        color: #333333;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        span {
            color: #86878b;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
        }
    }
}