.feedbacks {
    padding: 10px 0 10px 0;
    min-height: 990px;
    background-color: $main-background;
    &__persons {
        margin-top: 50px;
    }
    &__wrapper {
        padding: 0 25px 0 89px;
    }
    &__items {
        max-width: 1391px;
        display: flex;
        justify-content: space-between;
    }
    &__person {
        max-width: 744px;
        margin-bottom: 96px;
    }
    &__feedback {
        max-width: 744px;
    }
    &__person-block {
        &:after {
            content: '';
            display: block;
            width: 744px;
            border: 1px solid #b69b67;
            margin-top: 31px;
            margin-bottom: 16px;
        }
    }
    &__person-comment {
        max-width: 614px;
        color: #b4b4b4;
        font-family: 'Ubuntu Light';
        font-size: 30px;
        font-weight: 300;
        text-transform: initial;
    }
    &__person-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 744px;
    }
    &__name {
        color: #b69b67;
        text-transform: uppercase;
        text-align: right;
    }

    &__contacts {
        max-width: 487px;
    }
    &__form {
        margin-top: 50px;
        input {
            width: 487px;
            height: 73px;
            border: 1px solid #b4b4b4;
            margin-bottom: 25px;
            background-color: $main-background;
            padding: 0 28px 0 28px;
        }
    }
    &__submit {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        width: 228px;
        height: 73px;
        border: 1px solid $main-hover;
        color: #b4b4b4;
        font-family: 'Ubuntu Light';
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        &:hover {
            background-color: $main-hover;
            color: #303030;
        }
    }
    &__area {
        width: 487px;
        height: 300px;
        border: 1px solid #b4b4b4;
        background-color: $main-background;
        padding: 26px 25px 0 26px;
    }
}