.gradient-header {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 58px;
    background: linear-gradient(to right, #636363, #D5B37A, #636363);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}